{% extends "base.html" %}

{% block title %}
    Создать свой опрос
{% endblock %}

{% block nav_bar_menu %}


    <li class="nav-item">
        <a class="nav-link " href=" {% url 'test_list' %} "  role="button" >
            Тесты
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href=" {% url 'list_question' %} "  role="button" >
            Вопросы
        </a>
    </li>

{% endblock %}

{% block content %}

    {% block format_content %}

        <div class="container pt-5">
            <div class="col-md-9">

                <form method="POST" id="question-form">{% csrf_token %}
                    <div class="dynamic_fields">
                        Тест
                        <div class="form-group">
                            <input type="text" class="form-control" id="title" placeholder="Название теста">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="description" placeholder="Описание"></textarea>
                        </div>
                        <div class="example_answer">
                            <div class="answer_form">
                                Вопросы:
                                <div class="form-group">
                                    <textarea class="form-control" id="description" placeholder="Вопрос"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" placeholder="Правильный ответ">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" placeholder="Вариант ответа">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" placeholder="Вариант ответа">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" placeholder="Вариант ответа">
                                </div>
                            </div>
                        </div>
                    <div class="answers"></div>
                        <a class="js-add btn-primary btn active" role="button" aria-pressed="true">Добавить вопрос</a>
                    </div>
                <div class="mt-4">
                    <button class="btn pull-right btn btn-success">Создать тест</button>
                </div>
                </form>
            </div>
        </div>




    {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
    <script>
        $(document).on('submit', '#poll-form', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "home" %}',
                data: {
                    title: $('#title').val(),
                    description: $('#description').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'add'
                },
                success: function(json) {
                    document.getElementById("poll-form").reset();
                    $(".polls").prepend('<div class="col-md-6">' +
                        '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                        '<div class="col p-4 d-flex flex-column position-static">' +
                        '<h3 class="mb-0">' + json.title + '</h3>' +
                        '<p class="mb-auto">' + json.description + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                    )
                },
                error: function(xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    </script>
    
    <script>
        $("button").click(function() {
        $("#show_form").toggle(500);
        });
    </script>


    <script>

    	// определение кнопки добавления
	var button_add = document.querySelector( '.dynamic_fields .js-add' );
	// ожидание клика на кнопку .add
	button_add.addEventListener( 'click', function () {
		// определение блока, содержащего элементы
		var answers = document.querySelector( '.dynamic_fields .answers' );
		// клонирование образцового элемента
		var element = document.querySelector( '.example_answer' ).cloneNode( true );
		// добавление класса к клонированному элементу
		element.classList.add( 'answer' );
		// удаление класса из клонированного элемента
		element.classList.remove( 'example_answer' );
		// добавление нового элемента к списку
		answers.appendChild( element );
	} );
	// ожидание клика по документу
	document.addEventListener( 'click', function ( el ) {
		// если клик был по элементу, который содержит класс remove
		if ( el.target && el.target.classList.contains( 'js-remove' ) ) {
			// определение прародительского блока, содержащего кнопку
			var child = el.target.closest( '.answer_worm' );
			// удаление элемента списка
			child.parentNode.removeChild( child );
		}
	} );

</script>
    
{% endblock %}