{% extends "base.html" %}

{% block title %}
    Создать свой тест
{% endblock %}

{% block nav_bar_menu %}


    <li class="nav-item">
        <a class="nav-link " href=" {% url 'test_list' %} "  role="button" >
            Список тестов
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href=" {% url 'list_question' %} "  role="button" >
            Список вопросов
        </a>
    </li>

{% endblock %}

{% block content %}


        <div class='mt-5'>
                <form method="POST" id="question-form">
                {% csrf_token %}      
            
                <div class='mt-4'>
                    <p class="text-center">Тест</p>
                </div>
                <div class="form-group">
                    <input name="test_title" type="text" class="form-control" id="title" placeholder="Название теста" required oninvalid="this.setCustomValidity('Введите название теста')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <textarea name="test_description" id="description" class="form-control" rows="3" placeholder="Описание теста" required oninvalid="this.setCustomValidity('Введите описание')" oninput="setCustomValidity('')"></textarea>
                </div>
                <div class='mt-4'>
                    <p class="text-center">Вопросы</p>
                </div>
                
    
                <div class='input-form'>
                    <div class='mt-5'>
                        <div class="form-group col-md-15">
                            <textarea name="question_1" type="text" class="form-control" id="question_1" placeholder="Вопрос"></textarea>
                        </div>
                        <div class="form-group col-md-15">
                            <input name="correctanswer_1" type="text" class="form-control" id="correctanswer_1" placeholder="Верный ответ">
                        </div>
                        <div class="form-group col-md-15">
                            <input name="answer-a_1" type="text" class="form-control" id="answer-a_1" placeholder="Вариант ответа">
                        </div>
                        <div class="form-group col-md-15">
                            <input name="answer-b_1" type="text" class="form-control" id="answer-b_1" placeholder="Вариант ответа">
                        </div>
                        <div class="form-group col-md-15">
                            <input name="answer-c_1" type="text" class="form-control" id="answer-с_1" placeholder="Вариант ответа">
                        </div>
                    </div>
                </div>
               
    
                
                <input type='button' id='but_add' value='Add new' class="btn btn-outline-primary">
                
                
                <div class='mt-5 text-center'>
                    <button type="submit" class="btn btn-primary btn-lg" id="question-form">Создать тест</button>
                </div>
                
            </form>
            
        </div>
                
        

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    <script>
        $(document).ready(function(){
         
            $('#but_add').click(function(){
            
                // Selecting last id 
                var lastname_id = $('.input-form input[type=text]:nth-child(1)').last().attr('name');
                var split_id = lastname_id.split('_');
                
                // New index
                var index = Number(split_id[1]) + 1;
                
                
                // Create clone
                var newel = $('.input-form:last').clone(true);
                
                
                // Set id of new element
                $(newel).find('[class|="form-group col-md-15"]:nth-child(1)>textarea').attr("name","question_"+index);
                $(newel).find('[class|="form-group col-md-15"]:nth-child(2)>input').attr("name","correctanswer_"+index);
                $(newel).find('[class|="form-group col-md-15"]:nth-child(3)>input').attr("name","answer-a_"+index);
                $(newel).find('[class|="form-group col-md-15"]:nth-child(4)>input').attr("name","answer-b_"+index);
                $(newel).find('[class|="form-group col-md-15"]:nth-child(5)>input').attr("name","answer-c_"+index);
        
                // Set value
                $(newel).find('[class|="form-group col-md-15"]:nth-child(1)>textarea').val('');
                $(newel).find('[class|="form-group col-md-15"]:nth-child(2)>input').val('');
                $(newel).find('[class|="form-group col-md-15"]:nth-child(3)>input').val('');
                $(newel).find('[class|="form-group col-md-15"]:nth-child(4)>input').val('');
                $(newel).find('[class|="form-group col-md-15"]:nth-child(5)>input').val('');
        
                // Insert element
                $(newel).insertAfter(".input-form:last");
            });
        
        });
    </script>
    

    
    
    <script>
        
       /*   --------------------------------------------------------------*/
        /*  Функция для прокрутки с контролем скорости
        /*  --------------------------------------------------------------*/
        function scrollTo(to, duration = 700) {
            const
                element = document.scrollingElement || document.documentElement,
                start = element.scrollTop,
                change = to - start,
                startDate = +new Date(),
                // t = current time
                // b = start value
                // c = change in value
                // d = duration
                easeInOutQuad = function (t, b, c, d) {
                    t /= d / 2;
                    if (t < 1) return c / 2 * t * t + b;
                    t--;
                    return -c / 2 * (t * (t - 2) - 1) + b;
                },
                animateScroll = function () {
                    const currentDate = +new Date();
                    const currentTime = currentDate - startDate;
                    element.scrollTop = parseInt(easeInOutQuad(currentTime, start, change, duration));
                    if (currentTime < duration) {
                        requestAnimationFrame(animateScroll);
                    }
                    else {
                        element.scrollTop = to;
                    }
                };
            animateScroll();
        }
    </script>
    
    
{% endblock %}
