{% extends "base.html" %}

{% block title %}
    Создать вопрос
{% endblock %}

{% block body %}
    <form method="POST" action="">
        {% csrf_token %}

        <p>Вопрос</p>
        <p>{{ form.question_text }}</p>
        <p>Верный ответ</p>
        <p>{{ form.true_answer }}</p>
        <p>Прочие варианты:</p>
        <p>{{ form.option_a }}</p>
        <p>{{ form.option_b }}</p>
        <p>{{ form.option_c }}</p>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}