{% extends "base.html" %}

{% block title %}
    Test detail
{% endblock %}

{% block nav_bar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_question' %}">Создать вопрос</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_question' %}">Все вопросы</a>
    </li>
{% endblock %}

{% block body %}
    <div> {{ test.title }} </div>
    <br>
    <div>{{ test.overview }}</div>

    <br>
    <br>

    <a class="btn btn-primary" href="{% url 'run_test' slug=test.slug %}" role="button">Пройти тест</a>

    <a class="btn btn-outline-primary" href="{% url 'update_test' slug=test.slug %}" role="button">Изменить</a>
    <a class="btn btn-outline-danger" href="{% url 'delete_test' slug=test.slug %}" role="button">Удалить</a>

{% endblock %}