{% extends "base.html" %}

{% block title %}
    {{ test.title }}
{% endblock %}

{% block nav_bar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_question' %}">Создать вопрос</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_question' %}">Все вопросы</a>
    </li>
{% endblock %}

{% block content %}

    <br>
    <br>
    <div> {{ test.title }} </div>
    <br>
    <div>{{ test.description }}</div>

    <br>
    <br>

    <a class="btn btn-primary" href="{% url 'run_test' slug=test.slug %}" role="button">Пройти тест</a>

    <a class="btn btn-outline-primary" href="{% url 'update_test' slug=test.slug %}" role="button">Изменить</a>
    <button type="button" class="btn btn-outline-danger">Удалить</button>





    
    <div id="show_form" style="display:none">
        <hr>
        <div class="d-inline-flex bd-highlight">
                
            <form action="." method="POST">{% csrf_token %}
                <h3>Вы точно хотите удалить тест <br> "{{ test.title }}"?</h3>
                <br>
                <button type="button" class="btn btn-outline-primary">Оставить</button>
                <input class="btn btn-outline-danger" type="submit" value="Удалить">
            </form>
                
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
    <script>
        $("button").click(function() {
        $("#show_form").toggle(400);
        });
    </script>
    
{% endblock %}