{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block nav_bar_menu %}


    <li class="nav-item">
        <a class="nav-link " href=" {% url 'list_poll' %} "  role="button" >
            Опросы
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link " href=" {% url 'test_list' %} "  role="button" >
            Тесты
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link " href=" {% url 'list_question' %} "  role="button" >
            Вопросы
        </a>
    </li>

{% endblock %}

{% block body %}

    {% for object in object_list %}
        <p><a href="{% url 'detail_poll' slug=object.slug %}">{{ object.title }}</a></p>
    {% endfor %}


{% endblock %}