{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}


    {% block nav_bar_menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test_list' %}">Тесты</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_question' %}">Вопросы</a>
        </li>
    {% endblock %}

    {% block create_test_button %}
            <a class="btn btn-primary" role="butt" href="{% url 'create_test' %}">Создать тест</a>
    {% endblock %}


    {% block content %}
        {% block format_content %}




                <div class="container pt-5">
                    <div class='mt-4'>
                        <div class="row mb-2 polls">
                            {% for poll in polls %}
                                <div class="col-md-6">
                                    <div class="shadow p-3 mb-5 bg-white rounded">
                                        <div class="col p-3 d-flex flex-column position-static">
                                            <h3 class="mb-0">{{ poll.title }}</h3>
                                            <p class="mb-auto">{{ poll.description }}</p>
                                            <a href="{% url 'detail_poll' slug=poll.slug %}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                

                    <button type="button" class="btn btn-outline-primary">Добавить опрос</button>

                    <div id="show_form" style="display:none" class='mt-4 ml-2'>
                        <div class="d-inline-flex bd-highlight">
                                
                            <form method="POST" id="poll-form">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" placeholder="Название опроса">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="description" placeholder="Описание"></textarea>
                                </div>
                                Добавить тесты к опросу
                                <div>

                                    <label for="tests"></label>
                                    <select id="tests" multiple class="form-control" name="tests[]">
                                        {% for test in tests %}
                                                <option value="{{ test.id }}">{{ test.title }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Создать</button>
                                
                            </form>
                                
                        </div>
                    </div>

            </div>
            
        {% endblock %}
    {% endblock %}

{% block scripts %}
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
    <script>
        $(document).on('submit', '#poll-form', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "home" %}',
                data: {
                    title: $('#title').val(),
                    description: $('#description').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    tests: $('#tests').val(),
                    action: 'add'

                },
                success: function(json) {
                    document.getElementById("poll-form").reset();
                    $(".polls").append('<div class="col-md-6">' +
                                        '<div class="shadow p-3 mb-5 bg-white rounded">' +
                                        '<div class="col p-3 d-flex flex-column position-static">' +
                                        '<h3 class="mb-0">' + json.title + '</h3>' +
                                        '<p class="mb-auto">'  + json.description + '</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                        )
                                    },
                error: function(xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    </script>
    
    <script>
        $("button").click(function() {
        $("#show_form").toggle(500);
        });
    </script>
    
{% endblock %}