{% extends "base.html" %}

{% block title %}
    Test detail
{% endblock %}

{% block nav_bar_menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_question' %}">Создать вопрос</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_question' %}">Все вопросы</a>
    </li>
{% endblock %}

{% block body %}
    <div> {{ test.title }} </div>
    <br>
    <div>{{ test.overview }}</div>

    <br>
    <br>
    {% for quest in test.question.all %}

        <div>
            <p>{{ quest.question_text }}</p>
            <p>{{ quest.option_a }}</p>
            <p>{{ quest.option_b }}</p>
            <p>{{ quest.option_c }}</p>
            <p>{{ quest.option_d }}</p>

        </div>
        <br>
        <br>

    {% endfor %}

{% endblock %}