{% extends "base.html" %}

{% block title %}
    Обновить тест
{% endblock %}

{% block content %}





     <form method="POST">{% csrf_token %}
        <p>{{ form }}</p>
        <div class="form-group">
            <label>Прикрепленные вопросы:
                <select multiple class="form-control" name="questions">
                    {% for quest in questions %}
                        {% if quest.id in related_id %}
                            <option value="{{ quest.id }}" selected>{{ quest.title }}</option>
                        {% else %}
                            <option value="{{ quest.id }}">{{ quest.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>




{% endblock %}