{% extends "base.html" %}

{% block title %}
    Обновить poll
{% endblock %}

{% block content %}

    <div class="mt-5">

    <form method="POST">{% csrf_token %}
        <p>{{ form }}</p>
        <div class="form-group">
            <label>Прикрепить к опросу тесты
                <select multiple class="form-control" name="tests">
                    {% for test in tests %}
                        {% if test.id in related_id %}
                            <option value="{{ test.id }}" selected>{{ test.title }}</option>
                        {% else %}
                            <option value="{{ test.id }}">{{ test.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>

    </div>

{% endblock %}