{% extends "base.html" %}

{% block title %}
    Обновить poll
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}

        <p>Название теста</p>
        <p>{{ form.title }}</p>
        <p>Описание</p>
        <p>{{ form.description }}</p>
        
        Прикрепить тесты к опросу
        <div class='mb-4'>
            <select class="custom-select" multiple>
                {% for test in tests %}
                <option id="{{ test.id }}" name="{{ test.id }}">{{ test.title }}</option>
                {% endfor %}
            </select>
        </div>



        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
{% endblock %}