<!DOCTYPE html>
<html lang="en">
    
{% block head%}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>
        {% block title %}
            Title of the base page
        {% endblock %}
    </title>
</head>

{% endblock %}

    <body>
        
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="{% url 'home' %}">Polls project</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Домой <span class="sr-only">(current)</span></a>
                        </li>
        
                        {% block nav_bar_menu %}
                        {% endblock %}
                        
                    </ul>
                </div>
            </nav>
            
        {% endblock %}
        
        {% block format_content %}
        
            <div class="container" mt-5>
                <div class="row">
                    <div class="col-6 offset-md-2">
        
                        {% block content %}
                            Content of the base page
                        {% endblock %}
        
                    </div>
                </div>
            </div>
            
        {% endblock %}
    
    </body>
    
{% block scripts %}
{% endblock %}

</html>