{% extends 'base.html' %}

{% card bloc %}

<div class='mt-4'>
	<div class="row mb-2 polls">
		{% for poll in polls %}
			<div class="col-md-9">
				<div class="shadow p-3 mb-5 bg-white rounded">
					<div class="col p-3 d-flex flex-column position-static">
						<h3 class="mb-0">{{ poll.title }}</h3>
						<p class="mb-auto">{{ poll.description }}</p>
						<a href="{% url 'detail_poll' slug=poll.slug %}" class="stretched-link"></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}